@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
}

.Home {
  font-family: 'Times New Roman', Times, serif;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*https://www.pinterest.com/pin/taylor-swift-eras-tour-color-palette-inspo--472666923408191265/*/
  color: black;
}

.Home h1 {
  font-size: 62px;
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
}

button {
  background-color: white;
  color: black;
  border-color: black;
  border-width: 2px;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
  font-size: 20px;
}

#TTPD {
  /*https://x.com/socasuallygay/status/1754338398268277088*/
  background-color: #edebe7;
  color: #1c211f;
}

#TTPD h2 {
  text-transform: uppercase;
  font-family: var(--font-libre_calson_display);
}

/*https://www.pinterest.com/pin/taylor-swift-eras-color-hex-codes--2744449767106043/*/

#NineteenEightyNine {
  background-color: #B5E5F8;
  color: black;
}

#NineteenEightyNine h2 {
  font-family: var(--font-permanent_marker);
}

#SpeakNow {
  background-color: #C7A8CB;
  color: black;
}

#SpeakNow h2 {
  font-family: var(--font-rochester);
}

#Midnights {
  background-color: #242E47;
  color: white;
}

#Midnights h2{
  font-family: Helvetica, Arial, sans-serif;
}

#Red {
  background-color: #7A2E39;
  color: white;
}

#Red h2 {
  font-family: var(--font-anton);
}

#Fearless {
  background-color: #EFC180;
  color: black;
}

#Fearless h2 {
  font-family: var(--font-montserrat);
}

#evermore {
  background-color: #C5AC90;
  color: black;
}

#folklore {
  background-color: #CDC9C1;
  color: black;
}

#folklore h2, #evermore h2 {
  font-family: var(--font-im_fell_dw_pica);
}

#Lover {
  background-color: #F7B0CC;
  color: black;
}

#Lover h2 {
  font-family: var(--font-satisfy);
}

#reputation {
  background-color: #746F70;
  color: white;
}

#reputation h2 {
  font-family: var(--font-unifraktur_maguntia);
}

#TaylorSwift {
  background-color: #A5C9A5;
  color: black;
}

#TaylorSwift h2 {
  font-family: var(--font-sacramento);
}

.albums {
  overflow: hidden;
}

.album {
  padding: 10px;
}

.songs{
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: start;
  align-items: center;
}

.song {
  width: 300px;
}

.song p{
  font-size: 18px;
  margin: 5px;
}

@media screen and (max-width:990px) {
  .songs { 
    flex-wrap: nowrap; 
    height: auto;
    flex-direction: column;
  }
}